.nav-bar-itens
{
    position: fixed;
    z-index: 100000;
    width: 100vw;
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-between;
    background-color: #151515;
}

img.icon
{
    padding: 25px;
    width: 65px;
    height: 65px;
}

img.logo-bbq
{
    width: 150px;
    height: 116px;
}